@font-face {
  font-family: "TTLakes Regular";
  src: url("./../fonts/TTLakes/TTLakes-Regular.eot");
  src: url("./../fonts/TTLakes/TTLakes-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/TTLakes/TTLakes-Regular.woff") format("woff"), url("./../fonts/TTLakes/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TTLakes Medium";
  src: url("./../fonts/TTLakes/TTLakes-Medium.eot");
  src: url("./../fonts/TTLakes/TTLakes-Medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/TTLakes/TTLakes-Medium.woff") format("woff"), url("./../fonts/TTLakes/TTLakes-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TTLakes Bold";
  src: url("./../fonts/TTLakes/TTLakes-Bold.eot");
  src: url("./../fonts/TTLakes/TTLakes-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/TTLakes/TTLakes-Bold.woff") format("woff"), url("./../fonts/TTLakes/TTLakes-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  background-color: #F8F8F8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: block;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 0;
}
.btn--square {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  position: relative;
}
.btn--square:hover {
  background-color: #9f2348;
}
.btn--burger-icon {
  background: #FF3E79 url("./../img/icons/burger.svg") no-repeat 50% 50%;
}
.btn--repair-icon {
  background: #FF3E79 url("./../img/icons/repair.svg") no-repeat 50% 50%;
}
.btn--status-icon {
  background: #FF3E79 url("./../img/icons/status.svg") no-repeat 50% 50%;
}
.btn--phone-icon {
  background: #FF3E79 url("./../img/icons/phone.svg") no-repeat 50% 50%;
}
.btn--mess-icon {
  background: #FF3E79 url("./../img/icons/mess.svg") no-repeat 50% 50%;
}
.btn--reg-icon {
  background: #FF3E79 url("./../img/icons/reg.svg") no-repeat 50% 50%;
}

.buttons-contact {
  display: flex;
  width: 152px;
  justify-content: space-between;
}

.title2 {
  color: #1B1C21;
  font-family: "TTLakes Bold";
  font-size: 28px;
  line-height: 142%;
  letter-spacing: -0.6px;
}

.info-text {
  color: #1B1C21;
  font-family: "TTLakes Regular";
  font-size: 14px;
  line-height: 128%;
  letter-spacing: 0.2px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 16px;
}

.header__item--line {
  position: relative;
  margin-left: 15px;
  padding-left: 20px;
}
.header__item--line::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background-color: #EAEAEA;
}

.header__item--margin-auto {
  margin-right: auto;
}

.header__item--margin-left {
  margin-left: 16px;
}

.info-block {
  padding: 24px 0;
}

.info-block__header {
  padding: 0 16px;
}
.info-block__header > * {
  margin-bottom: 24px;
}

.info-block__title-buttons {
  display: flex;
  justify-content: space-between;
}

.info-block__buttons-wrapper {
  display: flex;
}

.info-block__button--margin-left {
  margin-left: 32px;
}

.info-block__button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.info-block__button-text {
  margin-right: 9px;
  color: #1B1C21;
  font-family: "TTLakes Medium";
  line-height: 24px;
  letter-spacing: -0.2px;
}

.info-block__text-button {
  padding: 0 16px;
}
.info-block__text-button > * {
  margin-bottom: 16px;
}

.info-block__title {
  position: relative;
}
.info-block__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: -16px;
  width: 4px;
  height: 40px;
  background-color: #41F6D7;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.info-block__slide-menu {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.info-block__link-menu {
  display: block;
  padding: 8px 16px;
  border-radius: 6px;
  font-family: "TTLakes Regular";
  color: #7E7E82;
  white-space: nowrap;
  margin-right: 12px;
  line-height: 150%;
  letter-spacing: -0.2px;
  border: 2px solid transparent;
}
.info-block__link-menu:hover {
  color: #303030;
}
.info-block__link-menu:focus {
  outline: 1px solid #303030;
  outline-offset: -1px;
}
.info-block__link-menu--active {
  border: 2px solid #B8FFEC;
}

.info-block__text-wrapper {
  max-height: 90px;
  overflow-y: hidden;
}

.info-block__btn-textshow {
  font-family: "TTLakes Medium";
  letter-spacing: -0.2px;
  line-height: 150%;
  display: flex;
  padding: 0 5px;
}
.info-block__btn-textshow::before {
  content: "";
  display: block;
  background: url("./../img/info-block/expand.svg") no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.info-block__btn-textshow:hover {
  color: #46474f;
}
.info-block__btn-textshow:focus {
  outline: 1px solid #46474f;
  border-radius: 5px;
}

.info-block__img {
  width: 100%;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 767px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1119px;
  }
}
@media screen and (min-width: 1119px) {
  .header {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .buttons-contact,
  .header__item--line:first-of-type::before {
    display: none;
  }
  .header__item--line:first-of-type {
    padding: 0;
    margin-left: 16px;
  }
}
@media screen and (min-width: 768px) {
  .info-block__content {
    display: flex;
  }
  .info-block__img {
    margin-right: 16px;
  }
}
@media screen and (max-width: 1120px) {
  .info-block__buttons-wrapper {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */