.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 16px;
}

.header__item--margin {
    margin-left: 20px;
    margin-right: auto;
}

.header__item--buttons {
    display: flex;
    justify-content: center;
    position: relative;
    padding-left: 20px;
    margin-left: 15px;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
    }
}

.header__item--buttons *:not(:last-child) {
    margin-right: 16px;
}