// mobile 320
@media screen and (min-width: $mobile) {
    .container {
        max-width: 767px;
    }
}

//tablet 768
@media screen and (min-width: $tablet) {
    .container {
        max-width: 1119px;
    }
}

@media screen and (min-width: $tablet) {
    .info__content {
        display: flex;
    }

    .info__img {
        margin-right: 16px;
    }

    .info__text {
        max-height: 160px;
        min-width: 312px;
    }

    .info__par {
        line-height: 142%;
    }
}

@media screen and (max-width: $tablet) {

    .header__buttons-contact,
    .header__item--line:first-of-type::before {
        display: none;
    }

    .header__item--line:first-of-type {
        padding: 0;
        margin-left: 16px;
    }

    .info__text-wrapper {
        margin-bottom: 10px;
    }

    .info__img {
        max-width: 480px;
    }
}

// desktop 1120
@media screen and (min-width: $desktop-S) {
    .info__slider {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: $desktop-S) {
    .header[hidden] {
        display: flex;
    }

    .info__buttons[hidden] {
        display: none;
    }
}

// other 
@media screen and (max-height: 750px) {
    .sidebar__contacts {
        margin: 16px 0 16px 0;
    }

    .sidebar__header {
        margin-bottom: 20px;
    }
}