// container
@media screen and (min-width: 320px) {
    .container {
        max-width: 767px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 1119px;
    }
}
// header
@media screen and (min-width: 1119px) {
    .header {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .buttons-contact,
    .header__item--line:first-of-type::before {
        display: none;
    }

    .header__item--line:first-of-type {
        padding: 0;
        margin-left: 16px;
    }
}
// info-block 
@media screen and (min-width: 768px) {
    .info__content {
        display: flex;
    } 

    .info__img {
        margin-right: 16px;
    }
}

@media screen and (max-width: 1120px) {
    .info__buttons {
        display: none;
    }
}