.sidebar {
    width: 320px;
    padding: 18px 24px;
    box-shadow:
        16px 0px 52px 0px rgba(14, 24, 80, 0.20),
        -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.sidebar__logo {
    margin-right: auto;
    margin-left: 16px;
}